.navbar {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header {
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #0093E9;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}